/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* my styles */

.color{
    color: hsl(158, 36%, 37%);
    color: hsl(30, 38%, 92%);
    color: hsl(212, 21%, 14%);
    color: hsl(228, 12%, 48%);
    color: hsl(0, 0%, 100%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px gold;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.card{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: "Fraunces", serif;
}

.product-pic img{
    height: 500px;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-info{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px;
    width:300px;
    background-color: hsl(0, 0%, 100%);
}

.product-first{
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
}

h1{
    margin-bottom: 25px;
}

p{
    margin-bottom: 35px;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
}

.price{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

h2{
    color: hsl(158, 36%, 37%);
}

.price p{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.add-to-cart{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    margin-top: 10px;
}

.add :hover{
  background-color: hsl(212, 21%, 14%);
  cursor:pointer;
}